# Case fold #
## use case ##
The casefold() method returns a string where all the characters are lower case

In [34]:




txt = "Hello, And Welcome To My World "

x = txt.casefold()

print(x)


txt = " My Age is 25 "

x = txt.casefold()

print(x)

hello, and welcome to my world
 my age is 25

# Centre #
## Use case ##
method will center align the string, using a specified character (space is default) as the fill character.

In [61]:


txt = "banana"

x = txt.center(20)

print(x)


txt = "Football"

x = txt.center(20,"O")

print(x)

       banana
OOOOOOFootballOOOOOO

# Count #
## Use case ##
The count() method returns the number of times a specified value appears in the string.

In [71]:
 txt = " Ronaldo plays football , he is the best footballer in the world "
x = txt.count("football")
print (x)

txt = " james,where john had had 'had' had 'had had' had had "

x = txt.count("had")

print (x)

2
8

# Encode #
## Use Case ## 
The encode() method encodes the string, using the specified encoding

In [84]:
txt = " Marshmallow"

x = txt.encode()

print(x)

txt = " My Fav bike is triumph rocket "

x = txt.encode()    

print(x)

b' Marshmallow'
b' My Fav bike is triumph rocket '

# endswith #
## use case ##
ethod returns True if the string ends with the specified value, otherwise False.

In [94]:
txt = " Hello, welcome to jurassic park."

x = txt.endswith(".")

print (x)


txt = " you must be the change you wish to see in the world?"
x = txt.endswith("in the world")
print (x)

True
False

# Expandtabs # 
## Use case ##
The expandtabs() method sets the tab size to the specified number of whitespaces.

txt = "H\te\tl\tl\to"

x = txt.expandtabs(2)

print (x)

txt = "S\te\tl\tl\to"

x = txt.expandtabs(2)
print(x)

# Find #
## Use Case ##
finds the first occurrence of the specified value

In [125]:
txt = " Hello , welcome to the world of Data."
x = txt.find("welcome")
print (x)

txt = " Ronaldo is the face of world football"
x = txt.find("Ronaldo")
print(x)

9
1

# Format #
## Use case ##
 format string is used to control how strings, numbers, or decimals are displayed.

In [153]:
txt =" for only {price:.2f}dollars!"
print(txt.format(price=49))

 for only 49.00dollars!

# Index #
## Use Case ##
method finds the first occurrence of the specified value

In [164]:
txt = " Hello Moto, welcome to wolrd"
x = txt.index("welcome")
print(x)

txt = " Ronaldo is just awesome"
x =txt.index("is")
print(x)

13
9

# isalnum #
## Use case ## 
method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).

In [167]:
txt = "Swapnil9923"
x= txt.isalnum()
print(x)

txt = "CR7"
x = txt.isalnum()
print(x)

True
True

# isalpha #
## Use case ##
The isalpha() method returns True if all the characters are alphabet letters (a-z)

In [8]:
txt = " Swapnil "
x = txt.isalpha()
print(x)

txt = "CompanyX"
x = txt.isalpha()
print(x)

False
True

# Rpartition #
## Use case ##
The rpartition() method in Python is used to split a string into three parts based on the last occurrence of a specified separator

The first element contains the part before the specified string.

The second element contains the specified string.

The third element contains the part after the string.

In [16]:
txt = "I could eat bananas all day, bananas are my favorite fruit"
x = txt.rpartition("bananas")

print(x)

txt = " I can play football all day, football is my favourite game "
x = txt.rpartition("football")
print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')
(' I can play football all day, ', 'football', ' is my favourite game ')

# splitlines #
## Use case ##
The splitlines() method splits a string into a list. The splitting is done at line breaks.

In [22]:
txt = " All the best\nwelcome to the corporate "
x = txt.splitlines()
print(x) 

txt = " You\nme will go for a party "
x =txt.splitlines()
print(x)

[' All the best', 'welcome to the corporate ']
[' You', 'me will go for a party ']

# Swapcase #
## Use case ##
The swapcase() method returns a string where all the upper case letters are lower case and vice versa.

In [25]:
txt = " I am Batman "
x = txt.swapcase()
print(x)

 i AM bATMAN

# Startwith #
## Use case ##
The startswith  method returns True if the string starts with the specified value, otherwise False.

In [31]:
txt =" Hello, How are you "
x =txt.startswith("Hello")
print(x)

False